language: node_js
node_js:
  - "0.12"
addons:
  code_climate:
    repo_token: 99a025e6243ca21c0e592fa99d595d5b88635cc325a66515ec9efb94fefe2f83
after_success:
  - npm run coverage
after_script:
  - cat coverage/lcov.info | ./node_modules/codeclimate-test-reporter/bin/codeclimate.js
  - cat coverage/lcov.info | ./node_modules/coveralls/bin/coveralls.js
